html,body{
   height: 100vh;
}
div.card{
   border: 0;
   background-color: #e3afc7;
}
div.card-header{
   background-color: #000000;
}
div.card-body{
   background-color: #e3afc7;
}
* {
   border-radius: 0 !important;
 }
 h1.card-title{
   font-family: 'Fredoka One', cursive;
   font-size: 50px;
   color: #ffffff;
   margin: 0;
 }
 p.card-text{
   font-family: 'Lato', sans-serif;
   font-size: 35px;
   color: #ffffff;
   font-weight: bold;
   margin: 0;
 }
 div.card-footer{
   background-color: #000000;
 }
 p.copyright{
   font-family: 'Fredoka One', cursive;
   font-size: 16px;
   color:#ffffff;
   margin: 0;
 }
 @media screen and (max-width:399.98px){
  h1.card-title{
    font-size: 35px;
    margin-bottom: 20px;
  }
  p.card-text{
    font-size: 25px;
    line-height: normal;
  }
  p.copyright{
    font-size: 10px;
  }
 }